* {
  box-sizing: border-box;
}
:root {
  --background-color: #10375c;
  --primary-color: #2e80ce;
  --primary-text-color: #ffffff;
  --secondary-text-color: #c9d2da;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ======Common======== */
header {
  background-color: var(--background-color);
  padding-top: 36px;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  min-width: 205px;
  height: 60px;
  border-radius: 30px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.btn:hover {
  opacity: 0.9;
}
.h2 {
  color: var(--background-color);
  text-align: center;
  font-family: Sora;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.h3 {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}

.h4 {
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
}

/* ====header======= */
.header {
  min-height: 100vh;
}

/* ====header-top==== */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 42px;
}

.nav__item a {
  position: relative;
}

.nav__item a,
.header-top__action--logIn {
  color: var(--secondary-text-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.nav__item a:hover,
.nav__item a.active,
.header-top__action--logIn:hover {
  color: var(--primary-text-color);
  text-shadow: 1px 0 0;
}

.nav__item a.active::before {
  content: "";
  display: inline-flex;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  left: -9px;
  bottom: 7px;
}
.header-top__action {
  display: flex;
  align-items: center;
}

.header-top__action--logIn {
  padding-right: 28px;
}

.header-top__action--signUp {
  min-width: 104px;
  height: 44px;
  flex-shrink: 0;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

/* ==== hero==== */
.hero__desc {
  text-align: left;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 110px 0;
}

.hero__heading {
  color: var(--primary-text-color);
  font-family: Sora;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero-left {
  width: 44%;
}
.hero-right figure {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__desc {
  margin: 22px 0 38px 0;
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero-cta {
  display: flex;
  gap: 28px;
  align-items: center;
}

.hero__call {
  color: var(--primary-text-color);
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -5px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ======services========== */
.service {
  padding: 170px 0;
}

.service__desc {
  display: flex;
  width: 468px;
  margin: 18px auto 70px;
}

.service-bottom__left {
  width: 44%;
}

.service-bottom__right {
  width: auto;
}

.service-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  border-radius: 12px;
  object-fit: cover;
  width: 570px;
  height: 570px;
}

.service__item--icon {
  display: flex;
  align-items: center;
  gap: 19px;
  width: 470px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item--heading {
  color: var(--background-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 8px;
}

.service__list--teeth {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.service__item--des {
  color: #575f66;
  font-size: 1.6;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}

.service__item--icon:hover {
  position: relative;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item--icon {
  border-radius: 10px;
  background: #fff;
}

.service__list--teeth:hover {
  color: white;
  background-color: #2e80ce;
  transition: 0.25s;
}

/* work */
.work {
  background-color: #f6fbff;
}

.work__container {
  padding: 100px 0;
}
/* work-top */
.work-top {
}

.work-top__heading {
  text-align: left;
  margin-bottom: 18px;
}

.work-top__desc {
  text-align: left;
  margin-bottom: 86px;
  width: 468px;
}

.work-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
}
.work-bottom__item {
  padding: 42px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.75s;
}

.work-bottom__heading {
  margin-top: 20.5px;
}

.work-bottom__desc {
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 18px;
}

.work__link {
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.work-bottom__item:hover {
  border-color: #2e80ce;
  transform: translateY(-25px);
  transition: 0.75s;
  cursor: pointer;
}

/* about */
.about {
  padding: 170px 0;
  background-color: #fff;
}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about-left {
  width: 44%;
}

.about-right {
  width: 41%;
}
.about__img--row {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  padding-left: 0;
}

.about__img--column {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  position: absolute;
  margin-top: 121px;
  margin-left: 238px;
}

.about-left {
  display: flex;
  position: relative;
}

.about__h2 {
  text-align: left;
  margin-bottom: 18px;
}

.about__desc {
  text-align: left;
  margin-bottom: 36px;
}

/* dentist */

.dentist {
  padding-top: 100px;
}

.dentist-top {
  text-align: center;
}
.dentist__btn {
  margin-top: 36px;
  margin-bottom: 70px;
}

.dentist-bottom {
  display: flex;
  justify-content: space-between;
}

.dentist__avatar {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
  background-color: #eaf6ff;
  border-top: 28px solid #eaf6ff;
  border-left: 4px solid #eaf6ff;
  border-right: 4px solid #eaf6ff;
  transition: 0.5s;
}
.avatar-wrapper {
  overflow: hidden;
}
.dentist__item:hover .dentist__avatar {
  transform: scale(1.1);
}

.dentist__name {
  margin-top: 12px;
}

.dentist__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

.dentist__item {
  justify-self: center;
}

.control {
  margin-top: 36px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #575f66;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-botton {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.control__next {
  rotate: 180deg;
}

.control__btn {
  cursor: pointer;
}
.control:hover {
  color: white;
  background-color: #2e80ce;
}

/* =======download============ */

.download {
  margin-top: 170px;
}
.download__container {
  background-color: var(--primary-color);
  display: flex;
  height: 427px;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
  position: relative;
}

.download-left__img {
  width: 284px;
  height: 522px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.download-left {
  width: 50%;
}

.download-right {
  width: 50%;
}

.download-right__heading {
  text-align: left;
  color: white;
  padding-bottom: 18px;
}

.download-right__desc {
  color: white;
  text-align: left;
  padding-bottom: 38px;
}

.download-right__store {
  display: flex;
  gap: 28px;
}

.download-right__store a {
  cursor: pointer;
}

/* blog */

.blog-list__container {
  display: flex;
  padding: 170px 0;
  align-items: center;
  justify-content: space-between;
}

.blog-list-right {
  width: 50%;
}

.blog-list-left {
  width: 47%;
}

.blog-list__h2 {
  text-align: left;
  margin-bottom: 28px;
}

.blog-list__cta {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.blog__control-button {
  display: flex;
  justify-content: flex-start;
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.blog1,
.blog2 {
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.75s;
}

.blog__info {
  width: 224px;
  margin: 22px auto 18px 21px;
}

.blog__title,
h4 {
  color: var(--background-color);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
  text-align: left;
  margin-bottom: 10px;
}

.blog__img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.blog__desc {
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
  text-align: left;
  margin-bottom: 12px;
}

.blog__cta--learMore {
  color: var(--background-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.blog1:hover,
.blog2:hover {
  cursor: pointer;
  transform: translateY(-20px);
  border: 1px solid var(--primary-color);
  transition: 0.75s;
}

/* ========appointment */
.appointment__container {
  background: #f6fbff;
  padding: 100px 177px;
}

.appointment__desc {
  margin: 38px auto;
  width: 617px;
  text-align: center;
  font-size: 1.6rem;
}
.appointment__btn {
  text-align: center;
}

.appointment__heading::after {
  content: "";
  width: 136px;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  margin: 18px auto 0;
}

/* footer */
footer {
  margin-top: 170px;
  background-color: var(--background-color);
}

.footer__container {
  padding: 100px 0 0;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
  padding-bottom: 27px;
  border-bottom: 1px solid #406181;
}

.footer__desc {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  text-align: left;
}

.footer__heading {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  text-align: left;
  margin-bottom: 20px;
}

.footer__item a {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.38rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin-bottom: 10px;
}
.footer__item {
  text-align: left;
}
.footer__heading2 {
  margin-top: 18px;
}

.social_btn {
  display: flex;
  gap: 10px;
}

.social_icon {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.social_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.social_btn a:hover {
  color: white;
  background-color: var(--primary-color);
}

.footer__subcribe--desc {
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  text-align: left;
  width: 273px;
  margin-bottom: 10px;
}

.email__input {
  display: flex;
  gap: 12px;
}

.subscribe__btn {
  border-radius: 4px;
  background: #2e80ce;
  min-width: 108px;
  height: 46px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
}

.email {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #406181;
  width: 212px;
  height: 46px;
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer__bottom {
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  padding-top: 28px;
  padding-bottom: 28px;
}
